/* #region google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }
  
.oswald{
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/* #endregion */

/* global styles */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* general styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color:#3a3a3a;
    font-family: Lato, sans-serif
    
}

/* header */
header{
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    font-family: Oswald, sans-serif;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 2px;
  color: #252525;
}

h1{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
/* main content */
main{

    background-color: lightblue;
    /* make main element take up any surplus */
    flex:1 0 auto;
}
/* footer */
footer{

    background-color: orange;
}